$form-range-thumb-width:0.4rem !default;
$font-size-base: 0.8rem !default; // this changes the font-size throughout bootstrap
$form-floating-height:    2rem !default;
$spinner-animation-speed: .25s;

/*input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/
